@{
    Layout = "_Layout";
}

<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="container">
    <div style="width:90%; margin:0 auto;">
        <table id="example" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th></th>
                    <th>Nome</th>
                    <th>Numero</th>
                    <th>Editar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollY": 550,
            "ajax": {
                "url": "/Contact/LoadContacts",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "id", "name": "id", "visible": false, "searchable": false },
                {
                    "searchable": false,
                    "orderable": false,
                    "render": function (data, type, row) {
                        if (row.photo == null) {
                            return `${row.firstName.split(' ').map(x => x.charAt(0)).join('').toUpperCase()} ${row.lastName}`;
                        }

                        return `<img src="${row.photo}" width="50px" height="50px">`;
                    }
                },
                {
                    "data": "firstName",
                    "name": "firstName",
                    "autoWidth": true,
                    "render": function (data, type, row) { return `${row.firstName} ${row.lastName}`; }
                },
                { "data": "telephones", "name": "telephones", "autoWidth": true },
                {
                    "searchable": false,
                    "orderable": false,
                    "width": "60px",
                    "render": function (data, type, row) { return '<a class="btn btn-info" href="/Contact/Edit/' + row.id + '">Edit</a>'; }
                }
            ]
        });
    });
</script>  